argschema==3.0.4
imageio==2.9.0
lxml==4.8.0
matplotlib==3.5.1
numpy==1.21.5
pandas==1.4.2
Pillow==9.4.0
regex==2022.3.15
scikit_image==0.19.2
scikit_learn==1.2.2
scipy==1.7.3
skimage==0.0
tables==3.6.1
tifffile==0.15.0
torch==1.12.1+cu116
torchsummary==1.5.1
torchvision==0.13.1+cu116
tqdm==4.64.0
typing_extensions==4.5.0
wandb==0.13.2
